*
{
    align-items: center;
}
button:hover{
 background-color: rgb(237, 175, 163);

}
body{
background-image: url(https://i.pinimg.com/1200x/ee/a4/62/eea4620cdc1ae257611f7fc2d71d27b9.jpg);
background-size: cover;
background-repeat: no-repeat;
border-radius:40px;
backgroud-position: center;
height: 80vh                                                                                                                                                                                                                ;
margin:1;
align-content:center;
display:flex;
justify-content:center;

}

.calculator
{
    border:3px solid rgb(35, 31, 31);
    border-radius:20px;
    height: 388px;
    margin: 20px;
    border-width: 8 px
    width: 350px;
    height: 450px fit-content;
    background-color: grey;
}
.type{
margin=1
width: 500px;
height: 5px;
size: 50px;
border-radius= 20px;
}


button{ 
    color: brown;
    border-radius: 40px;
    border-style: solid;
    border-width: 2px;
    border-height:10px;
    align-content: center;
    height: 50px;
    width: 50px;
    margin:5px;
    font-size: large;
}
.control{
    border-radius: 20px;
    height: 10px;
    border:solid;
    color: gray;

}
.task{
    width: 255px;
    border: solid;
    border-radius:20px ;
    height: 30px;
    padding-top: 5px;
    color: rgba(59, 55, 49, 0.195);
}
